<a href="https://colab.research.google.com/github/Dominic-Virtucio/CpE-031-VDA-CpE21S4/blob/main/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 2

##Example 1

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas

mydataset = {
    'animal': ["Cat", "Dog", "Rabbit"],
    'height':[13,17,8],
    'age':["16 months","16 months","16 months"]
}

myvar= pandas.DataFrame(mydataset)

print(myvar)

   animal  height        age
0     Cat      13  16 months
1     Dog      17  16 months
2  Rabbit       8  16 months

##Example 2

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
import pandas as pd

a = [1.5,7,2,4,7,8,9,0]

myvar = pd.Series(a)

print(myvar)

0    1.5
1    7.0
2    2.0
3    4.0
4    7.0
5    8.0
6    9.0
7    0.0
dtype: float64

Labels

In [ ]:
import pandas as pd

a = [1.5,7,2,4,7,8,9,0]

myvar = pd.Series(a)

print(myvar[0])

1.5

##Example 3

In [ ]:
import pandas as pd

data = {
    "age": [42, 38,39],
    "weight": [50,40,45]
}

myvar = pd.DataFrame(data)
print(myvar)

   age  weight
0   42      50
1   38      40
2   39      45

In [ ]:
import pandas as pd

data = {
    "age": [42, 38,39],
    "weight": [50,40,45]
}

myvar = pd.DataFrame(data)

print(myvar.loc[[0,1,2]])

   age  weight
0   42      50
1   38      40
2   39      45

In [ ]:
import pandas as pd

data = {
    "age": [42, 38,39],
    "weight": [50,40,45]
}

myvar = pd.DataFrame(data)

print(myvar.loc[0])
print(myvar.loc[[0,1]])
print(myvar.loc[[0,1,2]])

age       42
weight    50
Name: 0, dtype: int64
   age  weight
0   42      50
1   38      40
   age  weight
0   42      50
1   38      40
2   39      45

##Example 4

In [ ]:
import pandas as pd
#series using data frames
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])

dframe = pd.DataFrame([s1,s2,s3])
print(dframe)

   0  1   2
0  0  4   8
1  1  5   9
2  2  6  10

In [ ]:
import pandas as pd

# Series using data frames
s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 10])
#delete 1
dframe = pd.DataFrame([s1,s2,s3])
dframe = dframe.drop([0,1])
print(dframe)

   0  1   2
2  2  6  10

##Example 5

In [ ]:
import pandas as pd

# Series using data frames
s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 10])

dframe = pd.DataFrame([s1, s2, s3])

# Add another row using append
s4 = pd.Series([5, 10, 15])
dframe = pd.DataFrame([s1, s2, s3,s4],)

print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

#Exercise 2 - Challenge

How are you going delete indices no 0,1,3 leaving only all items in index 2?

In [ ]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame([s1,s2,s3,s4],index =[0,1,2,3], columns =[0,1,2])

dframe = dframe.drop([0, 1, 3])

print(dframe)

   0  1   2
2  2  6  10